body{
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    height: 1vh;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
}
.indentificator-company{
    display: flex;
    width: max-content;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
    color: #846219;

}
.extensive-name{
    padding: 5px;
    text-align: center;
}
h1, p{
    margin-block-start: 0;
    margin-block-end: 0;
}
.desktop{
    display: flex;
    width: 50%;
    justify-content: end;
    color: #846219;

}
.desktop ul{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
.desktop li{
    padding: 5%;
    width: max-content;
}
li:hover{
    background-color: #E9E9E9;
}
button{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
}
.section1{
    height: fit-content;
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9E9E9;
}
.imagem{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 10px;
}
.fita-1{
    width: 100%;
}
.paragrafo-div1{
    display: flex;
    justify-content: end;
    color: #716565;
    width: 30%;
    font-size: 4em;
    margin: 10px;
    text-align: center;
}
.section2{
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(8, 48, 124, 0.7);
    background-repeat: no-repeat;
    background-size: 100%;
}
.textodiv2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50%;
    height: fit-content;
    color: #FFFFFF;
    font-size: 2.5em;
}
.texto-interno{
    margin-left: 20%;
}
.fita2{
    display: flex;
    justify-content: flex-end;
    width: 60%;
    height: 100%;
}
.fita2img{
    width: 100%;
    height: 100%;
}
footer{
    display: flex;
    height: fit-content;
    background-color: #E9E9E9;
}
.contatos{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 4%;
    color: #716565;
}
.local{
    margin: 4%;
    width: 20%;
    color: #716565;
}
@media only screen and (max-width: 744px){
    header{
        flex-direction: column;
        height: max-content;
    }
    .extensive-name{
        display: none;
    }
    .indentificator-company{
        width: 100%;
        justify-content: center;
    }
    .menu-mobile{
        display: flex;
        margin: 10px;
    }
    button{
        display: block;
        border: none;
        background-color: transparent;
    }
    .responsive{
        display: flex;
        justify-content: start;
        width: 40%;
    }
    .responsive2{
        display: flex;
        justify-content: start;
        width: 60%;
        padding-left: 7%;
    }
    .section1{
        flex-direction: column;
        font-size: 70%;
    }
    .paragrafo-div1{
        width: 100%;
    }
    .desktop{
        display: none;
        justify-content: center;
        height: 0;
        width: 100%;
        animation: aparecer 1s linear;
    }
    .desktop ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        color: #846219;
    }
    .section2{
        flex-direction: column;
    }
    .texto-interno{
        margin-left: 0;
        width: 75%;
    }
    .textodiv2{
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 2em;
    }
    .fita2{
        width: 100%;
    }
    .texto-interno h2{
        font-size: 1em
    }
    .texto-interno p {
        font-size: 0.7em;
    }
    footer{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}
@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}